/* global css sheet from agri component library */
@import 'https://agri-component.netlify.app/css/components.css';

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.login-form {
    height: 22rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    background-color: silver;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    text-align: center;
    /* display: block; */
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: silver;
    max-width: 100%;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 2rem;
    background-color: silver;
    max-width: 100%;
    font-size: 1.5rem;
}

.fa {
    margin: 0.5rem;
}

.login-info {
    margin: 1rem;
    padding: 1rem;
}
.login-text-head{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
}
