/* global css sheet from agri component library */
@import 'https://agri-component.netlify.app/css/components.css';


* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    background-color: silver;
    max-width: 100%;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 2rem;
    background-color: silver;
    max-width: 100%;
    font-size: 1.5rem;
}

.fa {
    margin: 0.5rem;
}

.search-panel {
    display: flex;
}

.mtrlshop {
    font-size: 2rem;
}

.catagory-items-page {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100%;
}

.side-item-container {
    width: max-content;
    grid-column: 1/2;
    background-color: chocolate;
    width: 12rem;
    padding: 0.5rem;
}

.main-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding-bottom: 6rem;
}

.vcard {
    height: fit-content;
}